  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{title}}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.tmp) {{page.baseurl}}css/main.css -->
  <link rel="stylesheet" href="/_bower_components/font-awesome/font-awesome.min.css">
  <link rel="stylesheet" href="/css/main.css">

  <!-- endbuild -->
  <!-- build:js {{page.baseurl}}js/vendor/modernizr.js -->
  <script src="/_bower_components/modernizr/modernizr.js"></script>
  <!-- endbuild -->