<ul class="nav nav-pills pull-right">
  <li class="{{#is page.slug "home"}}active{{/is}}"><a href="{{page.baseurl}}">Home</a></li>
  <li class="{{#is page.slug "about"}}active{{/is}}"><a href="{{page.baseurl}}about">About</a></li>
  <li class="{{#is page.slug "code"}}active{{/is}}"><a href="{{page.baseurl}}code">Code</a></li>
    <li class="{{#is page.slug "contact"}}active{{/is}}"><a href="{{page.baseurl}}contact">Contact</a></li>
</ul>