---
title: Scratch
slug: about
baseurl: ../
---


<div class="jumbotron">
  <h1>About <i class="fa fa-info"></i></h1>
  <p class="lead">It's pretty cool.</p>
  <p><a class="btn btn-lg btn-success" href="/">Back to Home</a></p>
</div>

<div class="row marketing">
  <div class="col-lg-6">

    <h4>About /about</h4>

    <p>Notice how the link is just /about and not /about.html.  Yeah. Permalinks plugin for Assemble.  It's pretty cool.</p>

    <p>Look at this.</p>

  </div>
</div>


