---
title: Scratch
slug: contact
---
  <div class="container">
    <div class="header">
      {{>nav}}
      <h3 class="text-muted">Scratch</h3>
    </div>

    <div class="jumbotron">
      <h1>Contact</h1>
      <p class="lead"><a href="https://twitter.com/sqliagency_ch">@sqliagencych</a></p>
      <p><a class="btn btn-lg btn-primary" href="http://sqliagency.ch">Go to sqliagency.ch</a></p>
    </div>

    <div class="row marketing">
      <div class="col-lg-6 col-lg-push-3">
        <h4>About /about</h4>
        <p>Notice how the link is just /about and not /about.html.  Yeah. Permalinks plugin for Assemble.  It's pretty cool.</p>

        <h4>Bootstrap</h4>
        <p>Sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development.</p>

        <h4>Modernizr</h4>
        <p>Modernizr is an open-source JavaScript library that helps you build the next generation of HTML5 and CSS3-powered websites.</p>


        <h4>RequireJS</h4>
        <p>RequireJS is a JavaScript file and module loader. It is optimized for in-browser use, but it can be used in other JavaScript environments, like Rhino and Node.</p>

      </div>
    </div>

    <div class="footer">
      <p>♥ from the Yeoman team</p>
    </div>
  </div>

