---
title: Scratch
slug: about
baseurl: ../
---


<div class="jumbotron">
  <h1>About <i class="fa fa-info"></i></h1>
  <p class="lead">Just a little info.</p>
  <p><a class="btn btn-lg btn-success" href="/">Back to Home</a></p>
</div>

<div class="row">
  <div class="col-lg-8 ">


{{#markdown}}
#### About /about

Notice how the link is just /about and not /about.html.  Yeah. The [Permalinks](https://github.com/assemble/permalinks) plugin for [Assemble](http://assemble.io/).  It's pretty cool.  I'll write more about that later.
{{/markdown}}

  </div>
</div>


