<ul class="nav nav-pills pull-right">
  <li class="{{#is page.slug "home"}}active{{/is}}"><a href="/">Home</a></li>
  <li class="{{#is page.slug "about"}}active{{/is}}"><a href="/about">About</a></li>
  <li class="{{#is page.slug "contact"}}active{{/is}}"><a href="/contact">Contact</a></li>
</ul>